@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	scroll-behavior: smooth;
}

html, body {
	/* min-height: 1000px; */
	width: 100%;
	height: 100%;
}

p {
	font-weight: 300;
	color: #111;
}

.banner {
	position: relative;
	width:100%;
	height: 100%;
	/* min-height: 100vh; */
	display: flex;
	justify-content: center;
	align-items: center;
	/* background: url(img/houses/pexels-vincent-rivaud-2227832.jpg) no-repeat center center fixed; */
	/* background: url(img/houses/pexels-curtis-adams-3773582.jpg) no-repeat center center fixed; */
	/* pool */
	background: url(img/houses/pexels-thorsten-technoman-338504.jpg) no-repeat center center fixed;
	/* coffe, flowers and books */
	/* background: url(img/houses/pexels-thought-catalog-904616.jpg) no-repeat center center fixed; */
	/* background: url(img/houses/pexels-pixabay-276551.jpg) no-repeat center center fixed; */
	/* background: url(img/houses/pexels-james-wheeler-417074.jpg) no-repeat center center fixed; */
	/* background: url(img/houses/pexels-mark-mccammon-1080696.jpg) no-repeat center center fixed; */
	/* background: url(img/pics/rainbow-bridge.jpg) no-repeat center center fixed; */
	background-size:cover;
	/* background-repeat: no-repeat; */
}

.banner .content {
	max-width: 900px;
	text-align: center;
}

.banner .content h2 {
	font-size: 4em;
	color: #fff;
	letter-spacing: 6px;
	text-shadow: 2px 2px 4px black;
}

.banner .content p {
	font-size: 1.2em;
	color: #fff;
	margin-top: 30px;
	text-shadow: 1px 1px 2px black;
}

.banner .btn {
	margin-top: 120px;
}
.btn {
	font-size: 1em;
	color: #ff0157;
	border: 3px solid #ff0157;
	border-radius: 9px;
	/* background: #ff0157; */
	display: inline-block;
	padding: 10px 30px;
	margin-top: 20px;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 2px;
	transition: 0.5s;
}

.btn:hover {
	letter-spacing: 6px;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 40px 100px;
	z-index: 10000;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0));
	transition: 0.5s;
}

header.sticky {
	background: rgba(255,255,255,0.96);
	padding: 10px 100px;
	box-shadow: 0 5px 20px rgba(0,0,0,0.05);
}
header .logo {
	color: #fff;
	font-weight: 700;
	font-size: 2em;
	text-decoration: none;
}

header.sticky .logo {
	color: #111;
}
header .logo span {
	color: #ff0157;
}

header .navigation {
	position: relative;
	display: flex;

}

header .navigation li {
	list-style: none;
	margin-left: 30px;
}

header .navigation li a {
	text-decoration: none;
	color: #fff;
	font-weight: 300;
}

header.sticky .navigation li a {
	color: #111;
}

header .navigation li a:hover {
	/* color: rgb(231, 209, 5); */
	color: #ff0157;
	/* font-weight: 500; */
}

section {
	padding: 70px;
	margin: 0 auto;
}

section.about, section.medical {
	max-width: 1400px;
}

.row {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.row .col50 {
	position: relative;
	width: 49%;
}

.titleText {
	color: #111;
	font-size: 2em;
	font-weight: 300;
	letter-spacing: 5px;
	margin-bottom: 20px;

}

.titleText span {
	color: #ff0157;
	font-weight: 500;
	/* font-size: 1.5em; */
}

.row .col50 .imgBx {
	position: relative;
	width: 100%;
	/* min-height: 300px; */
	height: 100%;
}

.row .col50 .imgBx img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.title {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.medical {
	/* background-color:bisque */
}

.medical .content {
	display: flex;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
	margin-top: 40px;
}

.medical .content .box {
	width: 340px;
	margin: 20px;
	border: 15px solid #fff;
	box-shadow: 0 5px 35px rgba(0,0,0,0.08);
	background-color: white;

}

.medical .content .box .imgBx {
	position: relative;
	width: 100%;
	height: 300px;
}

.medical .content .box .imgBx img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.medical .content .box .text {
	padding: 15px 0 5px;
}

.medical .content .box .text h3 {
	font-weight: 400;
	color: #111;
}

.travel .content {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	flex-direction: row;
	margin-top: 40px;
}

.travel .content .box {
	width: 250px;
	margin: 15px;
}

.travel .content .box .imgBx {
	position: relative;
	width: 100%;
	height: 300px;
}

.travel .content .box .imgBx img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.travel .content .box .text {
	padding: 15px 0 5px;
}

.travel .content .box h3 {
	font-weight: 400;
	color: #111;
}

/* testimonial section */
.blog {
	/* background: url(img/pics/sunset.jpg);
	background-size: cover; */
}

.white .titleText, .white p {
	color: #fff;
}

.blog .content {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	flex-direction: row;
	margin-top: 40px;
}

.blog .content .box {
	width: 340px;
	margin: 20px;
	padding: 40px;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.blog .content .box .imgBx {
	position: relative;
	width: 80px;
	height: 80px;
	margin-bottom: 20px;
	border-radius: 50%;
	overflow: hidden;
}

.blog .content .box .imgBx img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.blog .content .box .text {
	text-align: center;

}

.blog .content .box .text p {
	color: #666;
	font-style: italic;
}

.blog .content .box .text h3 {
	margin-top: 20px;
	color: #111;
	font-style: 1em;
	color: #ff0157;
	font-weight: 600;
}

/* contact section */

.contact {
	background: url(img/pics/cafe.jpg) center center;
	background-size: cover;
}

.contactForm {
	padding: 75px 50px;
	background: #fff;
	box-shadow: 0 15px 50px rgba(0,0,0,0.1);
	max-width: 500px;
	margin-top: 50px;
}

.contactForm h3 {
	color: #111;
	font-size: 1.2em;
	margin-top: 20px;
	font-weight: 500;
}

.contactForm .inputBox {
	position: relative;
	width: 100%;
	margin-bottom: 20px;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea {
	width: 100%;
	border: 1p solid #555;
	padding: 10px;
	color: #111;
	outline: none;
	font-style: 16px;
	font-weight: 300;
	resize: none;
}

.contactForm .inputBox input[type="submit"] {
	font-size: 1em;
	color: #fff;
	background: #ff0157;
	display: inline-block;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 2px;
	transition: 0.5s;
	max-width: 100px;
	font-weight: 500;
	border: none;
	cursor: pointer;
}

.copyrightText {
	padding: 8px 40px;
	border-top: 1px solid rgba(0,0,0,0.1);
	text-align: center;
}

.copyrightText p {
	color: #333;
}

.copyrightText a {
	color: #ff0157;
	font-weight: 500;
	text-decoration: none;
}


@media (max-width: 991px){
	header, header.sticky {
		padding: 10px 20px;
	}
	header .navigation {
		display: none;
	}
	header .navigation.active {
		width: 100%;
		height: calc(100% - 68px);
		position: fixed;
		top: 68px;
		left: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		background: #fff;
	}
	header .navigation li {
		margin-left: 0;
	}
	header .navigation li a {
		color: #111;
		font-size: 1.6em;
	}
	.menuToggle {
		position: relative;
		width: 40px;
		height: 40px;
		background: url(img/pics/menu.png);
		background-size: 30px;
		background-repeat: no-repeat;
		background-position: center;
		cursor: pointer;
	}
	.menuToggle.active {
		background: url(img/pics/close.png);
		background-size: 25px;
		background-repeat: no-repeat;
		background-position: center;
	}
	header.sticky .menuToggle {
		filter: invert(1);
	}
	section {
		padding: 20px;
	}
	.banner .content h2 {
		font-size: 3em;
		color: #fff;
	}
	.row {
		flex-direction: column;
	}
	.row .col50 {
		position: relative;
		width: 100%;
	}
	.row .col50 .imgBx {
		height: 300px;
		margin-top: 20px;
	}
	.menu .content {
		margin-top: 20px;
	}
	.menu .content .box {
		margin: 10px;
	}
	.menu .content .box .imgBx {
		height: 260px;
	}

}